body {

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;

}

html {
    font-family: "Roboto Mono", "Fira Mono", monospace;
    font-variant-numeric: tabular-nums;
    color: whitesmoke;
    font-weight: bold;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: right;

}

#yearsLeft{
    font-size: 7rem;
    text-align: center;
    width: 100%
}

#caption {
    text-align: right;
    font-weight: bold;
    font-size: 1.75rem;
}